{
    "resourceType": "OperationOutcome",
    "text": {
        "status": "generated",
        "div": "{{{div}}}"
    },
    "issue": [
        {
            "severity": "{{severity}}",
            "code": "{{code}}",
{{#diagnostics}}
    "diagnostics": "{{{diagnostics}}}"
{{/diagnostics}}
        }
    ]
}